node_modules/
.idea/
tests/debug.log
tests/cypress/screenshots/
tests/cypress/videos/
cypress/screenshots/
cypress/videos/
tests/Protractor/todo-spec.js
devtool.code-workspace
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
